
[user]
    name = Ryan Opel
    email = ropel@newrelic.com

[alias]
    b = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
    l = log --oneline --decorate origin/master..
    co = checkout
    tree = log --graph --pretty=oneline --abbrev-commit
    oof = !git rm --cached -r . && git reset --hard && git reset . && git checkout . && :

[color]
    ui = auto

[core]
	excludesfile = /Users/ropel/.gitignore
    whitespace=trailing-space,tab=in-indent	
	editor = nvim

[merge]
    onflictstyle = diff3

[push]
    default = simple

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[pull]
	rebase = true

[url "ssh://git@source.datanerd.us/"]
    insteadOf = https://source.datanerd.us/
[init]
	defaultBranch = master
